html, body {
	width: 100%;
	height: 100%;

}
.layui-col-md6{
  width: 100% !important;
}

.Titles {
    text-align: center;
    font-size: 18px;
    color: #333;
  }

  .categories_main {
    margin-top: 100px;
  }

  .Categories_Post {
    width: 100%;
    display: flex;
  }


  .category-list-item {
    width: 200px;
    height: 150px;
    margin-right: 15px;
    background: white;
    /* box-sizing: ; */
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .15);
    display: flex;
    border-radius: .5em;
    margin-bottom: 1.5em;
  }

  .category-list-link {
    color: #333 !important;
    /* font-size: var(--cyan); */
    font-size: 24px;
    margin: auto;
    /* display: block; */
  }

  .category-list {
    display: flex;
    margin: 20px 0 20px 0;
    display: flex;
    margin: 20px 0 20px 0;
    flex-wrap: wrap;
     margin-bottom: 1.5em; 
  }

  @media screen and (max-width:768px) {
    .layui-hide-xs {
      display: none !important
    }

    .layui-show-xs-block {
      display: block !important
    }

    .layui-show-xs-inline {
      display: inline !important
    }

    .layui-show-xs-inline-block {
      display: inline-block !important
    }
  }

  @media screen and (max-width:500px) {
    .category-list {
      display: block !important;
    }

    .Categories_Length_Titles {
      padding: 20px;
    }

    .Categories_Post {
      width: 100%;
      display: block;
      /* display: flex; */
    }

    .category-list {
      display: block !important;
      margin: auto;
    }

    .category-list-item {
      width: 200px;
      height: 150px;
      margin-right: 15px;
      background: white;

      box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .15);
      display: flex;
      margin: auto;
      margin-bottom: 15px;
      width: 100%;
    }
  }


  @media screen and (min-width:992px) {

    .layui-col-md6,
    .category-list-item {
      float: left
    }

    .layui-col-md6 {
      width: 50%
    }

  }

  @media screen and (min-width:1200px) {
    .layui-container {
      width: 1170px
    }

  }