html,
body {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #f5f5f5f5;
}

.top_title {
    clear: both;
}

.sidebar_main {
    display: none;
}

.top {
    height: 75px;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .15);
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 5 !important;
}

.left {
    display: flex;
    margin-left: auto;
}

.more {
    display: none;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 75px;
}

.Tops {
    display: flex;
    background-color: aliceblue;
    opacity: 0.8;
}

/*
.zz {
    position: absolute;
    z-index: -1;
    background-color: snow;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
*/
a {
    transition: all 0.5s;
    color: #333;
    /* padding: 0 20px; */
    padding: 0 10px;
    /* height: 50px; */
    display: block;
    /*font-size: 1.5em;*/
    font-weight: 500;
}

a:hover {
    transition: all 0.5s;
    color: #01AAED;
}

.active {
    color: #01AAED;
}

.author {
    width: 800px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.author_bg {
    height: 700px;
    width: 100%;
    margin-top: 75px;
    display: block;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: url("../img/j82zoq.jpg");
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-attachment: fixed;
}

.Tou_Xiang {
    width: 100px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.author_ {
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    /* font-size: ; */
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    font-size: 14px;
    color: white;
    /*margin-top: 30px;*/
    text-align: center;
    background: rgba(0, 0, 0, .5);
    /*height: 20%;*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    display: flex;
}

.text-z {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

._posts {
    margin-top: -75px;
}

.post {
    width: 100%;
    height: 200px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-bottom: 7em;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Left_Images {
    flex: 0 0 33.3333%;
    max-width: 33.33%;
    display: block;
    object-fit: cover;
}

.post_image {
    width: 300px;
    height: 250px;
    margin-top: -24px;
    object-fit: cover;
    transition: all .3s ease-in;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.post-title {
    display: inline-grid;
    width: auto;
    /* max-width: 50%; */
}

.post-title-link {
    font-size: 24px;
    margin: 0;
    padding: 0;
    /* align-self: center; */
    /* display: groid; */
    /* align-items: center; */
    /* display: inline-grid; */
    align-self: center;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 27px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post_continer {
    display: inline-grid;
    width: 100%;
}

.post-content {
    display: grid;
    align-self: center;
    align-self: center;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 27px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-meta {
    display: grid;
    /* margin-top: auto; */
    /* margin-bottom: 2.2em; */
    /* align-self: end; */
    /* justify-items: end; */
    text-align: end;
    height: 50%;
    margin-top: auto;
    margin-right: 25px;
}

.post-content {
	display: grid;
	align-self: center;
	align-self: center;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 27px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.more:hover {
    transition: all 0.5s;
    color: #01AAED;
}

.sidebar_main_on {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    color: #fff;
    z-index: 9999999999999999999;
    display: flex;
}

.sidebar {
    padding: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    align-items: center;
    flex: 100%;
}

.off {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: end;
}

.Index_side,
.Fenlei_side,
.GuiDang_side,
.Api_side,
.Link_side,
.About_side {
    color: #fff;
    padding: 1em;
    margin: 1em;
    border: solid 1px;
    display: flex;
    align-items: center;
}


.fa {
    font-size: 1.1em;
    margin-right: .5em;
    margin-left: .5em;
    font-weight: 900;
}

.fa-calendar {
    font-weight: 300;
}

.nav-item {
    display: flex;
    min-width: 50%;
    margin: auto;
    margin-bottom: 8em;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.current {
    transition: all 0.5s;
    color: #01AAED;
    padding: 0 10px;
    display: block;
    font-weight: 500;
}

.extend,
.next,
.prev,
.page-number {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    /* line-height: 50px; */
    /* line-height: 45px !important; */
    line-height: 50px;
    height: 50px;
}

.extend:hover,
.next:hover,
.prev:hover,
.page-number:hover {
    line-height: 40px;
}

@media screen and (max-width:500px) {

    .more:hover {
        color: #01AAED;
        transition: all 0.5s;
    }

    .Index,
    .Fenlei,
    .GuiDang,
    .Api,
    .Link,
    .About {
        display: none;
    }
    
    .more {
        display: block;
        font-size: 24px;
        margin-right: .5em;
        color: #333;
        transition: all 0.5s;
    }
}

@media screen and (max-width:550px) {

    .Index,
    .Fenlei,
    .GuiDang,
    .Api,
    .Link,
    .About {
        display: none;
    }

    .more:hover {
        color: #01AAED;
        transition: all 0.5s;
    }

    .more {
        display: block;
        font-size: 24px;
        /*font-size: 24px;*/
        margin-right: .5em;
        color: #333;
        transition: all 0.5s;
    }
}

@media screen and (max-width:768px) {

    .post_image,
    .Left_Images {
        display: none;
    }
    .post {
        width: 100%;
        height: 200px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        margin-right: auto;
        background: white;
        margin-bottom: 2em;
        display: flex;
    }

    .post_continer {
        display: inline-grid;
        padding: 2rem;
    }
}

@media screen and (min-width:768px) {

    /*
            Screen>=768px
    */
    .post_image,
    .Left_Images {
        display: none;
    }

    .post {
        width: 100%;
        height: 200px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        margin-right: auto;
        background: white;
        margin-bottom: 2em;
        display: flex;
    }

    .post_continer {
        display: inline-grid;
        padding: 2rem;
    }
}


@media screen and (min-width:992px) {

    /*
            Screen>=992
    */
    .post_image,
    .Left_Images {
        display: block;
    }

    .Left_Images {
        flex: 30%;
    }

    .post_image {
        display: block;
        width: 250px;
        height: 200px;
        margin-top: 0px;
        object-fit: cover;
        transition: all .3s ease-in;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    }

    .post_continer {
        display: inline-grid;
        padding: 2rem;
    }
}

@media screen and (min-width:1200px) {
    /*
            Screen>=1200px
    */

    .post_image {
        display: block;
        width: 300px;
        height: 250px;
        margin-top: -24px;
        object-fit: cover;
        transition: all .3s ease-in;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    }
    .post {
        width: 100%;
        height: 200px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        margin-right: auto;
        background: white;
        margin-bottom: 8em;
        display: flex;
    }

    .post_continer {
        display: inline-grid;
    }

    .more {
        display: none;
    }
}